<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    <style>
        html {
            margin: 0px;
            height: 100%;
            width: 100%;
        }

        body {
            margin: 0px;
            min-height: 100%;
            width: 100%;
            display: grid;
            place-items: center;
            margin-top: -10rem;
        }
    </style>
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>